@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

.btn:hover{
  background-color: transparent;
  color: white;
  border: solid white 2px;
}

.navbar{
  @apply flex justify-between px-5 py-5 fixed w-full items-center text-lg shadow-lg z-50 bg-white 
}

.navbar-list{
  @apply space-x-7 hidden md:flex md:justify-end 
}
.nav-items:hover{
  color: gray;
  text-decoration: underline;
  font-size: 15px;
  transition: ease-out .5s;
}





.icon {
  @apply text-3xl
}

.logo{
  @apply  h-15
}

.btnExplore{
  @apply bg-blue-300 px-2 py-1 rounded-md border-1 border-black sm:hidden
}

.landing-container{
  @apply relative w-full h-screen overflow-hidden flex justify-center items-center 
}

.landing-video{
  @apply w-full absolute h-full object-cover z-[-1] top-0 left-0 items-center
}

.landing-content{
  @apply z-10 text-center flex flex-col justify-baseline text-white relative mt-120
}

.category-wrapper{
  @apply text-center py-10 flex flex-col h-full 
}

.category-content{
@apply grid grid-cols-2 gap-5 px-5
}

.category-women{
  @apply my-10 
}

.woment-collec-wrap{
  @apply grid grid-cols-2 gap-5 px-5
}

.pages{
  @apply  pt-30 
}

.display-image{
  @apply w-full sticky h-full bg-no-repeat
}


.customer-review{
  @apply shadow-xl shadow-gray-300 px-2 py-2 flex flex-col mb-10 text-center items-center rounded-sm 
}

.customer-review:hover{
  background-color: navy;
  color: white;
}

.contact-wrapper{
  @apply bg-blue-950 p-5 sm:p-20 space-x-5 text-white sm:grid sm:grid-cols-2
}

.my-form{
  @apply flex flex-col  shadow-lg shadow-blue-900 py-5 px-4 w-full rounded-lg
}

.btnSubmit{
  @apply py-3 mx-20 rounded-sm shadow-lg shadow-blue-900 mt-5
}

.form-title{
  @apply pb-4 text-2xl uppercase font-bold text-center
}
